#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: transalte(-50%, -50%);
    width: 600px;
    height: 600px;
}

/* Place the dropdown menu */
.controls {
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

/* Change font size of the dropdown menu */
.controls, select, option {
    font-size: 25px;
}